@model IEnumerable<BitcoinLogger.Entites.BitcoinEntry>

@{
    ViewBag.Title = "Index";
}

<h2>Bitcoin Price</h2>


<div class="currency_option">
    <label for="">Select your Currency</label>
    <select id="currency">
        <option value="usd">USD</option>
        <option value="euro">EUR</option>
    </select>
</div>

<table id="BitcoinPricelistTable" class="display">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.Source</td>
                <td>
                    <span class="price"> @Html.DisplayFor(modelItem => item.Price) </span> <span class="c_sign"></span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a href="#">Comment</a>
                </td>
            </tr>
        }
    </tbody>
</table>

